* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-size: 15px;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
}

.card {
  display: flex;
  max-width: 1100px;
  background: hsl(244, 37%, 16%);
  border-radius: 10px;
  overflow: hidden;
}

.content {
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
 
}

.content h1 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
  color: hsl(0, 0%, 100%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 400px;
}


.content h1 span {
  color: hsl(277, 64%, 61%);
  
}


.stats {
  display: flex;
  gap: 3rem;
  
  
}

.stats h2 {
  font-size: 1.5rem;
  color:hsl(0, 0%, 100%);
  margin-top: 60px;
  margin-bottom: 0;
}


.stats p {
  display: block;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);

}

.image {
  position: relative;
  flex: 2;
}

.image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(168, 85, 247, 0.6);
}


.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .content {
    padding: 2rem;
    text-align: center;
  }

  .stats {
    justify-content: center;
  }
}